nav
    ul
        button ☰
        li
            a(href='/') Home
        li
            a(href='/about') About
        li
            a(href='/search_by_class') Find Textbooks
        li
            a(href='/register') Register
        li
            a(href='/login') Login